<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>

    <link rel="stylesheet" href="/assets/css/download.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/navbar.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/footer.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">


    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css" rel="stylesheet"/>

</head>
<body>
        {% include navbar.html %}
    <div class="main_containt">
        <div class="inside_containt">
            <div class="banner">
                <div class="image_banner">
                    <img src="/assets/graphics/download_graphics/product1.png">
                </div>
                <div class="detail_download">
                    <h1>HydraPWK GNU/Linux</h1>
                    <span>{{ page.image_version }}</span>
                    <div class="button">
                        <a href="{{ page.download }}">Download <i class="ri-arrow-right-circle-line"></i></a>
                        <a href="{{ page.checksum }}" id="sumbutton">sum</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="inside_second_containt">
            <div class="box">
                <h1>Description</h1>
                <div class="inside-box">
                    <p>Hydra standard Live Image for x86_64 architectures.</p>
                </div>
            </div>
            <div class="box">
                <h1>requirements <i class="ri-computer-line"></i>                </h1>
                <div class="inside-box">
                    <ul>
                        <li>
                            <i class="ri-macbook-line"></i>
                            <p>x86_64</p>
                        </li>
                        <li>
                            <i class="ri-ram-2-line"></i>
                            <p>2GB RAM</p>
                        </li>
                        <li>
                            <i class="ri-hard-drive-2-line"></i>
                            <p>16GB Disk</p>
                        </li>
                        <li>
                            <i class="ri-cpu-line"></i>
                            <p>Intel celeron</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
        {% include footer.html %}
</body>
</html>
