* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
}

.class_main {
    background-color: transparent;
    width: 130vh;
    min-height: 100vh;
    margin: auto;
}

.class_main h1 {
    color: white;
}

.main_banner {
    background: url("assets/wd.jpg");
    opacity: 0.3;
    min-height: 10vh;
    padding: 0;
    box-shadow: #508C9B;
    margin: 0;
}

.class_main ul {
    display: flex;
    gap: 40px;
    padding: 5px;
    padding-left: 10px;
    border-bottom: 2px solid #21454e ;
}

.class_main li {
    text-decoration: none;
    list-style: none;
}

.class_main a {
    text-decoration: none;
    color: #508C9B;
    font-family: 'Play', sans-serif;    
}

.class_main a:hover {
    color: #02BEFD;
}
.class_main_banner {
    padding-top: 20px;
}

.class_main_banner h1 {
    color: #508C9B;
    font-size: 40px;
    padding-left: 20px;

    font-weight: normal;
}


.options_box ul {
    display: flex;
    margin-bottom: 20px;
    border: none;
}
.options_box li {
    text-decoration: none;
    list-style: none;
}

.options_box a {
    background-color: transparent;
    border-bottom: 1px solid #0caadf;
    border-left: 1px solid hwb(195 3% 7%);
    padding: 20px;
    font-weight: 700;
    color: #02BEFD;
    font-family: none;
    font-size: 20px;
}

.boxes {
    background-color: none;
    justify-content: center;
    margin: auto;
    margin-top: 100px;
    width: 70%;
}

.boxes ul {
    border-bottom: none;
    display: flex;
    gap: 200px;
    justify-content: center;
}

.boxes i {
    color: rgb(255, 255, 255);
    font-size: 70px;
}

.boxes li {
    background-color: none;
    width: 100%;
}

.boxes h1 {
    color: #02BEFD;
    font-size: 20px;
    font-weight: normal;
    font-family: 'Play', sans-serif;    
}

.boxes p {
    color: white;
    font-size: 15px;
    font-family: 'Play', sans-serif;    
    padding-top: 10px;
}

.boxes a {
    color: #02BEFD;
    border-bottom: 1px solid #02BEFD;
}

.image-banner img {
    width: 20%;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    background-color: none;
    margin-left: 20%;
    margin-right: 30%;
}

.text-banner h1 {
    font-family: 'Play', sans-serif;    
    font-weight: normal;
    color: #02BEFD;
    font-size: 30px;
    margin-bottom: 0;
}

footer {
    background-color: none;
	-webkit-box-shadow:  0 -9px 8px -9px #02BEFD;
	-moz-box-shadow:  0 -9px 8px -9px #02BEFD;
	box-shadow: 0 -9px 8px -9px #02BEFD;
    width: 100%;
    margin-top: 100px;
    min-height: 30vh;
    font-family: 'Play', sans-serif;    
    padding: 20px;
    justify-content: center;
}

.class_footer {
    gap: 40px;
    justify-content: center;
    margin: auto;
    margin-top: 30px;
    display: flex;
}

.class_footer ul {
    border-bottom: none;
    color: white;
    display: block;
    justify-content: center;
}

.class_footer p {
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 700;
}

.class_footer a {
    color: white;
    font-size: 18px;
}