    <footer>
        <section class="footer_scope">
            <div class="footer_top">
                <div id="logo">
                    <img src="/assets/logo/hydra_logo.svg">
                </div>
                <div class="footer_top_links">
                    <ul>
                        <li>
                            <a href="https://github.com/hydrapwk"><i class="ri-github-line"></i></a>
                        </li>
                        <li>
                            <a href="https://gitlab.com/hydrapwk/"><i class="ri-gitlab-line"></i></a>
                        </li>
                        <li>
                            <a href="https://t.me/blacktracksecurity"><i class="ri-instagram-line"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div id="inside_footer">
                <div id="links">
                    <ul>
                        <h1>Start here</h1>
                        <li><a href="#">Demo ova</a></li>
                        <li><a href="#">Pricing</a></li>
                        <li><a href="/doc">Documentation</a></li>
                        <li><a href="/blog">Blog</a></li>
                    </ul>
                    <ul>
                        <h1>Community</h1>
                        <li><a href="https://t.me/blacktracksec">Telegeram</a></li>
                        <li><a href="#">Discord</a></li>
                    </ul>
                    <ul>
                        <h1>Support</h1>
                        <li><a href="https://github.com/blacktracksec/blacktrack/issues">Issue</a></li>
                        <li><a href="/doc/intallation">Installation</a></li>
                        <li><a href="#">Troubleshooting</a></li>
                    </ul>
                    <ul>
                        <h1>Documentations</h1>
                        <li><a href="/doc/intallation">Installation</a></li>
                        <li><a href="/doc">support</a></li>
                        <li><a href="/doc/introduction">About</a></li>
                    </ul>
                    <div class="short_about">
                        <h2>About</h2>
                        <p>
                            Hydra (previously named by <b>BlackTrack</b>) is an <b>Opensource</b> project developed and founded by <i>@me-joe</i> for purposes oriented to the realm of <b>industry</b>.
                        </p>
                        <span>Copyright &copy; Hydra 2025 All rights reserved.</span>
                    </div>
                </div>
            </div>
        </section>
    </footer>
