    <nav class="nav">
        <div class="nav-area">
            <a class="brand" href="/">
                <img src="/assets/logo/hydra_head.svg" alt="hydrapwk-logo-emblem-head">
            </a>

            <svg class="nav-burger" fill="none" stroke="currentColor" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M4 6h16M4 12h16m-7 6h7" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></path></svg>

            <div class="nav-menu">
                <a href="/doc/introduction/about-hydra">About</a>
                <a href="/doc">Documentation</a>
                <a href="https://hydrapwk.github.io/hydrapwk/issues">Issues</a>
                <a href="/get">Get HydraPWK</a>
        </div>
    </nav>
