    <header class="desktop_nav">
        <ul class="navlist">
            <div class="navlogo">
                <a href="/">
                <img src="/assets/logo/hydra_head.png" alt="hydrapwk-head-emblem">
                </a>
            </div>
            <div class="flex">
                <li><a href="https://github.com/hydra-ng/hydra-ng/issues">Issues</a></li>
                <li><a href="/blog">News</a></li>
                <li><a href="#">Opensource</a></li>
                <li><a href="/doc">Documentations</a></li>
                <li><a href="/team">Team</a></li>
                <li><a href="/get" id="get-button">Get now  <i class="ri-shopping-cart-2-line"></i></a></li>
            </div>
        </ul>
    </header>
