    <header>
        <ul class="navlist">
            <div class="navlogo">
                <a href="/">
                <img src="/assets/logo/hydra_head.png">
                <span>Documentation</span>
                </a>
            </div>
            <div class="flex">
                <li><a href="/team">Team</a></li>
                <li><a href="#">Support</a></li>
                <li><a href="/blog"><i class="ri-newspaper-line"></i></a></li>
                <li><a href="#"><i class="ri-open-source-line"></i></a></li>
                <li><a href="/doc"><i class="ri-book-open-line"></i></a></li>
                <li><a href="/get" id="navget">Get now! <i class="ri-shopping-cart-2-line"></i></a></li>
            </div>
        </ul>
    </header>