<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/blog.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/footer.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/navbar.css">

    <!-- googleFonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">    <!-- endGoogleFonts -->
    <!-- endGOogleFonts -->

    <!-- remixIcons -->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css" rel="stylesheet"/>
    <!-- endRemix -->

</head>
    {% include navbar.html %}
<body>
    <div class="main_containt">
        <div class="banner">
            <h1>{{ page.title }}</h1>
        </div>
        <div class="list_blog">
            <div class="inside_blog">
                <ul class="blog">
                    {% for post in site.posts %}
                    <li id="card_blog">
                        <img src="{{ post.thumbnail }}">
                        <div class="inside_paraghraph">
                            <span style="font-weight: 700;">{{ post.date | date: "%-d %B %Y" }}, By {{ post.author }}</span>
                            <h1>{{ post.title }}</h1>
                            <p>{{ post.description }}</p>
                            <a href="{{ post.url }}" id="button">read</a>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    {% include footer.html %}
</body>
</html>
