<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/index-blog.css">

    <!-- googleFonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <!-- endGoogleFonts -->
</head>
<body>
    <section class="main_containt">
        <section class="banner">
            <h1>Welcome To BlackTrack Blog</h1>
        </section>
        <div class="whats-new">
            <ul class="card">
                {% for post in site.posts %}
                    <li>
                        <img src="{{ post.thumbnail }}">
                        <a href="{{ post.url }}"><h2>{{ post.title }}</h2></a>
                        <p>{{ post.description }}</p>
                        <span>{{ post.date | date: "%-d %B %Y" }}, By {{ post.author }}</span>
                      </li>
                </a>
                {% endfor %}
              </ul>
        </div>
    </section>
    <footer>
        <section class="inside-footer">
            <div class="link">
                <ul>
                    <h1>RESOURCES</h1>
                    <li><a href="#">Documentation</a></li>
                    <li><a href="/blog">Blog</a></li>
                </ul>
                <ul>
                    <h1>COMMUNITY</h1>
                    <li><a href="https://t.me/blacktracksec">Telegeram</a></li>
                    <li><a href="#">Discord</a></li>
                </ul>
                <ul>
                    <h1>SUPPORT</h1>
                    <li><a href="https://github.com/blacktracksec/blacktrack/issues">Issue</a></li>
                    <li><a href="#">Installation</a></li>
                    <li><a href="#">Troubleshooting</a></li>
                </ul>
                <ul>
                    <h1>DOCUMENTATION</h1>
                    <li><a href="#">Installation</a></li>
                    <li><a href="#">support</a></li>
                    <li><a href="#">About</a></li>

                </ul>
            </div>
            <div class="logo">
                <img src="/assets/blacktrack-white-logo.png">
                <h1>&copy; BlackTrack 2024 All rights reserved.</h1>
            </div>
        </section>
    </footer>
</body>
</html>