<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>

    <link rel="stylesheet" href="/assets/css/get.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/navbar.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/footer.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">

    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css" rel="stylesheet"/>

</head>
<body>
            {% include navbar.html %}

    <div class="main_containt">
        <h1>Choose your device.</h1>
        <div class="platform">
            <ul>
                <li>
                    <h1>
                        Image x86_64
                    </h1>
                    <p>
                        Standard ISO image Live installer for x86_64/amd64 computers. 
                    </p>
                    <a href="/get/hydrapwk-standar">Get now <i class="ri-shopping-cart-2-line"></i></a>
                </li>
                <li>
                    <h1>Mobile aarch64</h1>
                    <p>
                        Hydra image for Mobile devices (aarch64 architectures)
                    </p>
                    <a href="#mobile">Get now <i class="ri-shopping-cart-2-line"></i></a>
                </li>
                <li>
                    <h1>Hydra embeded</h1>
                    <p>
                        Hydra image for embedded device such Android TvBox.
                    </p>
                    <a href="#embedded">Get now <i class="ri-shopping-cart-2-line"></i></a>
                </li>
            </ul>
        </div>
    </div>
    <div class="embedded_containt" id="embedded">
        <h5>Embeded HydraPWK Images</h5>
        <div class="list_device">
            <h1>Android TvBox</h1>
            <ul class="device">
                <div class="read_the_docs">
                    <a href="#" id="docs_device">HydraPWK TvBox Documentations</a>
                </div>
                <li>
                    <h3>Indihome B860h v1</h3>
                    <div class="button">
                        <a href="#"><i class="ri-download-line"></i></a>
                        <span>alpha</span>
                    </div>
                </li>
              <li>
                    <h3>Indihome B860h v2</h3>
                    <div class="button">
                        <a href="#"><i class="ri-download-line"></i></a>
                        <span>alpha</span>
                    </div>
                </li>
                <li>
                    <h3>Indihome B860h v2.1</h3>
                    <div class="button">
                        <a href="#"><i class="ri-download-line"></i></a>
                        <span>alpha</span>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <div class="embedded_containt" style="background-color: whitesmoke;" id="mobile">
        <h5 style="color: black;">Android HydraPWK Images aarch64</h5>
        <div class="list_device" style="color: black;">
            <h1 style="color: black;">Android TvBox</h1>
            <ul class="device">
                <div class="read_the_docs">
                    <a href="#" id="docs_device" style="color: black;">HydraPWK TvBox Documentations</a>
                </div>
                <li>
                    <h3 style="color: black;">rootles</h3>
                    <div class="button">
                        <a href="#"><i class="ri-download-line"></i></a>
                        <span style="color: black;">alpha</span>
                    </div>
                </li>
                <li>
                    <h3 style="color: black;">rooted device</h3>
                    <div class="button">
                        <a href="#"><i class="ri-download-line"></i></a>
                        <span style="color: black;">alpha</span>
                    </div>
                </li>
            </ul>
        </div>
    </div>
            {% include footer.html %}

</body>
</html>
