<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}}</title>
    <link rel="stylesheet" href="/assets/index-home.css">

    <!-- googleFonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
    <!-- endGoogleFonts -->

    <!-- remixIcons -->

    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css" rel="stylesheet"/>

    <!-- endRemixIcons -->

</head>
<header class="navbar">
    <div class="first_nav">
        <ul>
            <li><i class="ri-telegram-2-line"></i></i></li>
            <li><i class="ri-discord-line"></i></li>
            <li><i class="ri-instagram-line"></i></li>
        </ul>
    </div>
    <div class="navflex">
        <ul>
            <li><a href="#">HOME</a></li>
            <li><a href="#">DOC</a></li>
        </ul>
        <ul>
            <li><a href="#">SUPPORT</a></li>
            <li><a href="/blog">BLOG</a></li>
        </ul>
    </div>
</header>
<body>
    <section class="main_containt">
        <div class="banner">
            <section class="paragraph">
                <h1>{{ page.title }}</h1>
                <p>{{ page.description }}</p>
                <a href="#">Get Started</a>
            </section>
        </div>
    </section>
    <section class="second_containt">
        <div class="in_containt">
            <h1>Description</h1>
            <p>BlackTrack is a Debian-based Linux distribution for IT and other related purposes.</p>
        </div>
        <div class="box_red">
            <h1 style="color: white;">Various tools</h1>
            <p style="color: white;">BlackTrack is only a platform (tool), which provides various tools for IT needs, including exploits, cracking, reversing, forensics, networking.</p>
        </div>
        <img src="/assets/blacktrack_brain.png">
    </section>
    <section class="containt_3">
        <h1>no fees for users, Free</h1>
        <p>This project is a free project!, anyone can download it, but if you want to support the developer, click the link below</p>
        <a href="#">ko-fi <i class="ri-cup-fill"></i></a>
    </section>
    <section class="changelog">
        <div class="inside">
            <h1 id="blog">Recent Post</h1>
            <ul class="card">
                {% for post in site.posts limit:3 %}
                <a href="{{ post.url }}">
                    <li>
                        <img src="{{ post.thumbnail }}">
                        <h2>{{ post.title }}</h2>
                        <p>{{ post.description }}</p>
                      </li>
                </a>
                {% endfor %}
              </ul>
        </div>
    </section>
    <footer>
        <section class="myfooter">
            <section class="link">
                <ul class="link-flex">
                    <h1>Pages</h1>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Documentation</a></li>
                </ul>
                <ul class="link-flex">
                    <h1>Development</h1>
                    <li><a href="#">GitHub</a></li>
                    <li><a href="#">Gitlab</a></li>
                </ul>
                <ul class="link-flex">
                    <h1>Support</h1>
                    <li><a href="#">Telegram</a></li>
                    <li><a href="#">Discord</a></li>
                    <li><a href="#">GitHub Issue</a></li>
                </ul>
                <ul class="link-flex">
                    <h1>Community</h1>
                    <li><a href="#">Telegram</a></li>
                    <li><a href="#">Discord</a></li>
                </ul>
                <ul class="link-flex">
                    <h1>Social</h1>
                    <li><a href="#">Instagram</a></li>
                    <li><a href="#">Tweeter</a></li>
                </ul>
            </section>
            <section class="about">
                <section class="inside-about">
                    <h1>&copy; BlackTrack 2023 All rights reserved. </h1>
                </section>
            </section>
        </section>
    </footer>
</body>
</html>