<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="google-site-verification" content="m0PlQjr7u4epj73ujaVyQQqIpaarCpR0OsIzxHP0XDU" />
    <meta name="msvalidate.01" content="925E0EA5BFAC31AEA4B3DD1DD401D8A4" />
    <meta name="yandex-verification" content="73709f8847f28064" />
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/index.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/footer.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/navbar.css">

    <!-- googleFonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">    <!-- endGoogleFonts -->
    <!-- endGOogleFonts -->

    <!-- remixIcons -->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css" rel="stylesheet"/>
    <!-- endRemix -->

    </head>
    
<body>
        {% include navbar.html %}
        {% include mobilenav.html %}
    <script src="/assets/js/main.js"></script>
    <div class="main_containt">
        <div id="banner">
            <section id="inside_banner">
                <div>
                    <h1>WELCOME TO ONBOARD HydraPWK THE END POINT DESTROYER.</h1>
                    <p>HydraPWK The Opensource Swiss Army Knife is based on Debian project<br>designed and focused for industry realm, research, forensic, attack/end point attack.</p>
                    <a href="{{ page.release }}" id="release_button">check our latest release<i class="ri-arrow-right-circle-line"></i></a>
                    <div style="margin-top: 50px; display: flex;">
                        <a href="/get" id="get">Get HydraPWK <i class="ri-shopping-cart-2-line"></i></a>
                        <a href="/doc" id="read">read documentation <i class="ri-book-marked-line"></i></a>
                    </div>
                </div>
            </section>
        </div>
        <div class="term-content">
            <section class="inside_term">
                <h3>Terms and policies</h3>
                <p>HydraPWK is `Open-source` software no warranty<br>containt free software and non-free for industry area such pentesting, reverse engineering, forensic, drone, avionic/airplane, automotive, marrine.<br><br>All use must be under legal areas, we are not responsible for damage, losses and so on, all of which are the responsibility of the user.</p>
            </section>
        </div>
        <div class="second_containt">
            <section class="layer1">
                <div>
                    <ul style="display: flex; flex-wrap: wrap;">
                        <li id="card">
                            <img src="/assets/graphics/hydra-icons/hydra-erase_icons.png">
                            <h1>Minimal</h1>
                            <p>All application default (in categories default-tools metapackages)</p>
                        </li>
                        <li id="card">
                            <img src="/assets/graphics/hydra-icons/hydra-tools_icons.png">
                            <h1>Top tools</h1>
                            <br>
                            <p>We're only provide tools standard industry.</p>
                        </li>
                        <li id="card">
                            <img src="/assets/graphics/hydra-icons/hydra-puzzle_icons.png">
                            <h1>One task one tool</h1>
                            <p>which means we only choose tools that are intended for one job.There are no duplicate tools that do the same job (That would be garbage).</p>
                        </li>
                    </ul>
                    <ul style="display: flex;">
                        <li id="card">
                            <img src="/assets/graphics/hydra-icons/hydra-community_icons.png">
                            <h1>Community</h1>
                            <p>Telegram as Hydra community platform.<br>easy to accces.</p>
                        </li>
                    </ul>
                </div>
            </section>
        </div>
        <div class="containt_video">
            <div class="inside_video">
                <div class="card_video">
                    <video autoplay muted loop id="industry_video">
                        <source src="/assets/graphics/industry.webm" type="">
                    </video>
                </div>
                <div class="video_paraghraph">
                    <h1>
                        Hydra Framework is Industry oriented
                    </h1>
                    <div class="video_button">
                        <a href="/get" id="trynow">Try now    <i class="ri-arrow-right-circle-line"></i></a>
                        <a href="/doc">Explore now!    <i class="ri-book-read-line"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="containt_blog">
            <a href="/blog"><h1>Latest <b>post</b> from  our blog <i class="ri-news-line"></i></h1></a>
            <div class="inside_blog">
                <ul class="list">
                    {% for post in site.posts limit:4 %}
                    <li id="card_blog">
                        <a href="{{ post.url }}">
                        <img src="{{ post.thumbnail }}">
                        <div class="inside_paraghraph">
                            <span style="font-weight: 700;">{{ post.date | date: "%-d %B %Y" }}, By {{ post.author }}</span>
                            <h1>{{ post.title }}</h1>
                            <p>{{ post.description }}</p>
                        </div>
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <div class="separate">
        <a href="/get">Get now! <i class="ri-shopping-cart-2-line"></i></a>
    </div>
    {% include footer.html %}
</body>
</html>
