<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>


<!-- googleFonst -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
<!-- endGOoglefonts -->
    <link rel="stylesheet" href="/assets/css/list-tools.css">
</head>
<body>
    <div class="main_containt">
        <div class="banner">

        </div>
            <div class="inside_tools-list">
                <div class="handle-me">
                    <span>A</span>
                <div class="card">
                    <ul class="card-tools-list">
                        {% for post in site.tools %}
                        {% if post.categories contains "A" %}
                        <li><a href="{{ post.url }}">{{ post.title }}</a></li>
                {% endif %}
                {% endfor %}
                    </ul>
                </div>
                </div>

                <div class="handle-me">
                    <span>B</span>
                <div class="card">
                    <ul class="card-tools-list">
                        {% for post in site.tools %}
                        {% if post.categories contains "B" %}
                        <li><a href="{{ post.url }}">{{ post.title }}</a></li>
                {% endif %}
                {% endfor %}
                    </ul>
                </div>
                </div>

                <div class="handle-me">
                    <span>C</span>
                <div class="card">
                    <ul class="card-tools-list">
                        {% for post in site.tools %}
                        {% if post.categories contains "C" %}
                        <li><a href="{{ post.url }}">{{ post.title }}</a></li>
                {% endif %}
                {% endfor %}
                    </ul>
                </div>
                </div>

                <div class="handle-me">
                    <span>D</span>
                <div class="card">
                    <ul class="card-tools-list">
                        {% for post in site.tools %}
                        {% if post.categories contains "D" %}
                        <li><a href="{{ post.url }}">{{ post.title }}</a></li>
                {% endif %}
                {% endfor %}
                    </ul>
                </div>
                </div>

                <div class="handle-me">
                    <span>E</span>
                <div class="card">
                    <ul class="card-tools-list">
                        {% for post in site.tools %}
                        {% if post.categories contains "E" %}
                        <li><a href="{{ post.url }}">{{ post.title }}</a></li>
                {% endif %}
                {% endfor %}
                    </ul>
                </div>
                </div>

                <div class="handle-me">
                    <span>F</span>
                <div class="card">
                    <ul class="card-tools-list">
                        {% for post in site.tools %}
                        {% if post.categories contains "F" %}
                        <li><a href="{{ post.url }}">{{ post.title }}</a></li>
                {% endif %}
                {% endfor %}
                    </ul>
                </div>
                </div>

                <div class="handle-me">
                    <span>G</span>
                <div class="card">
                    <ul class="card-tools-list">
                        {% for post in site.tools %}
                        {% if post.categories contains "G" %}
                        <li><a href="{{ post.url }}">{{ post.title }}</a></li>
                {% endif %}
                {% endfor %}
                    </ul>
                </div>
                </div>

                <div class="handle-me">
                    <span>H</span>
                <div class="card">
                    <ul class="card-tools-list">
                        {% for post in site.tools %}
                        {% if post.categories contains "H" %}
                        <li><a href="{{ post.url }}">{{ post.title }}</a></li>
                {% endif %}
                {% endfor %}
                    </ul>
                </div>
                </div>

                <div class="handle-me">
                    <span>I</span>
                <div class="card">
                    <ul class="card-tools-list">
                        {% for post in site.tools %}
                        {% if post.categories contains "I" %}
                        <li><a href="{{ post.url }}">{{ post.title }}</a></li>
                {% endif %}
                {% endfor %}
                    </ul>
                </div>
                </div>

                <div class="handle-me">
                    <span>J</span>
                <div class="card">
                    <ul class="card-tools-list">
                        {% for post in site.tools %}
                        {% if post.categories contains "J" %}
                        <li><a href="{{ post.url }}">{{ post.title }}</a></li>
                {% endif %}
                {% endfor %}
                    </ul>
                </div>
                </div>

                <div class="handle-me">
                    <span>K</span>
                <div class="card">
                    <ul class="card-tools-list">
                        {% for post in site.tools %}
                        {% if post.categories contains "K" %}
                        <li><a href="{{ post.url }}">{{ post.title }}</a></li>
                {% endif %}
                {% endfor %}
                    </ul>
                </div>
                </div>

                <div class="handle-me">
                    <span>L</span>
                <div class="card">
                    <ul class="card-tools-list">
                        {% for post in site.tools %}
                        {% if post.categories contains "L" %}
                        <li><a href="{{ post.url }}">{{ post.title }}</a></li>
                {% endif %}
                {% endfor %}
                    </ul>
                </div>
                </div>

                <div class="handle-me">
                    <span>M</span>
                <div class="card">
                    <ul class="card-tools-list">
                        {% for post in site.tools %}
                        {% if post.categories contains "M" %}
                        <li><a href="{{ post.url }}">{{ post.title }}</a></li>
                {% endif %}
                {% endfor %}
                    </ul>
                </div>
                </div>

                <div class="handle-me">
                    <span>N</span>
                <div class="card">
                    <ul class="card-tools-list">
                        {% for post in site.tools %}
                        {% if post.categories contains "N" %}
                        <li><a href="{{ post.url }}">{{ post.title }}</a></li>
                {% endif %}
                {% endfor %}
                    </ul>
                </div>
                </div>

                <div class="handle-me">
                    <span>O</span>
                <div class="card">
                    <ul class="card-tools-list">
                        {% for post in site.tools %}
                        {% if post.categories contains "O" %}
                        <li><a href="{{ post.url }}">{{ post.title }}</a></li>
                {% endif %}
                {% endfor %}
                    </ul>
                </div>
                </div>
                <div class="handle-me">
                    <span>W</span>
                <div class="card">
                    <ul class="card-tools-list">
                        {% for post in site.tools %}
                        {% if post.categories contains "W" %}
                        <li><a href="{{ post.url }}">{{ post.title }}</a></li>
                {% endif %}
                {% endfor %}
                    </ul>
                </div>
                </div>
            </div>
    </div>
</body>
</html>