<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/team-layout.css">

    <!-- googleFonts -->

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap" rel="stylesheet">

    <!-- endGoogleFonts -->
</head>
<header class="navbar">
    <div class="navflex">
        <ul>
            <li><a href="/">HOME</a></li>
            <li><a href="/doc">DOC</a></li>
        </ul>
        <ul>
            <li><a href="/support">SUPPORT</a></li>
            <li><a href="/blog">BLOG</a></li>
            <li><a href="/team">TEAM</a></li>
        </ul>
    </div>
</header>
<body>
    <section class="main_containt">
        <section class="inside_containt">
            <h1>Meet BlackTrack Team</h1>
            <ul class="card">
                <li>
                    <img src="https://github.com/me-joe.png">
                    <div class="paraghraph">
                        <h2>Joe 🇮🇩</h2>
                        <p>Core developer, 17 years old developer, Originator of BlackTrack</p>
                    </div>
                </li>
                <li>
                    <img src="https://github.com/Martinvlba.png">
                    <div class="paraghraph">
                        <h2>Martin Valba 🇪🇪</h2>
                        <p>Not a team from BlackTrack, but they contributed greatly to this project</p>
                    </div>
                </li>
                <li>
                    <img src="https://github.com/cybersecbyte.png">
                    <div class="paraghraph">
                        <h2>Cybersecbyte 🇮🇳</h2>
                        <p>Not a team from BlackTrack, but they contributed greatly to this project</p>
                    </div>
                </li>
            </ul>
        </section>
    </section>
    <footer>
        <section class="inside-footer">
            <div class="link">
                <ul>
                    <h1>RESOURCES</h1>
                    <li><a href="#">Documentation</a></li>
                    <li><a href="/blog">Blog</a></li>
                </ul>
                <ul>
                    <h1>COMMUNITY</h1>
                    <li><a href="https://t.me/blacktracksec">Telegeram</a></li>
                    <li><a href="#">Discord</a></li>
                </ul>
                <ul>
                    <h1>SUPPORT</h1>
                    <li><a href="https://github.com/blacktracksec/blacktrack/issues">Issue</a></li>
                    <li><a href="#">Installation</a></li>
                    <li><a href="#">Troubleshooting</a></li>
                </ul>
                <ul>
                    <h1>DOCUMENTATION</h1>
                    <li><a href="#">Installation</a></li>
                    <li><a href="#">support</a></li>
                    <li><a href="#">About</a></li>

                </ul>
            </div>
            <div class="logo">
                <img src="assets/blacktrack-white-logo.png">
                <h1>&copy; BlackTrack 2024 All rights reserved.</h1>
            </div>
        </section>
    </footer>
</body>
</html>