<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>

    <!-- googleFonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cantarell:ital,wght@0,400;0,700;1,400;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
    <!-- endGoogleFonts -->

    <!-- remixIcons -->
     <link href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css" rel="stylesheet"/>
     <!-- endRemixicons -->
     <link rel="stylesheet" href="/assets/css/tools-doc.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/navbarfordoc.css">

</head>
<body>
    <div class="main_containt">
        <section class="left-side">
            <div class="containt-tools">
                <section class="tools-details">
                    <img src="{{ page.tool-icons }}">
                    <pre class="tools-version">Version: {{ page.tool-version }}</pre>
                    <section class="source-and-etc">
                        <div class="inside_sources">
                            <a href="{{ page.tools_source }}"><i class="ri-global-line"></i> Home Page / Upstream</a> <span>|</span>
                            <a href="{{ page.tools_source }}"><i class="ri-open-source-line"></i> LICENSE</a>
                        </div>
                    </section>
                    <div class="installation">
                        <h2>Install</h2>
                        <pre>hydrapwk@hydrapwk:~$ sudo apt install {{ page.packages-name }}</pre>
                    </div>
                </section>
            </div>
            <section class="this-page">
                <div class="update-page">
                    <span><i class="ri-calendar-2-line"></i> Updated on: {{ page.update | date: "%-d %B %Y" }}</span>
                    <span><i class="ri-user-line"></i>By: <a href="{{ page.userupdate }}">{{ page.whoupdate}}</a></span>
                </div>
                <a href="{{ page.editpage }}"><i class="ri-edit-box-line"></i>Edit this pages</a>
            </section>
        </section>
        <section class="right-side">
            <div class="tools-doc">
                <h1>Tool Documentation:</h1>
                <span>$ {{ page.tools-command }}</span>
                {{ content }}
            </div>
        </section>
    </div>
</body>
</html>
